<div class="container">
  <h3>Food Storage</h3>
  <!--TODO: Move the table into its own component, implementing ng2-table-->
  <table class="table table-bordered table-responsive">
    <tr>
      <th>Food</th>
      <th>Qty</th>
      <th>Expiration</th>
      <th>Category</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let food of storedFood | async" [ngClass]="{'alert-danger': food.delete}">
      <td>{{food.name}}</td>
      <td>{{food.quantity}}</td>
      <td>{{food.exp}}</td>
      <td>{{food.category}}</td>
      <td>
        <button class="btn btn-warning" (click)="incrementFood(food)">+</button>
        <button class="btn btn-warning" (click)="decrementFood(food)">-</button>
        <button *ngIf="!food.delete" class="btn btn-danger pull-right" (click)="updateDel(food)">Delete</button>
        <button *ngIf="food.delete" class="btn btn-primary pull-right" (click)="updateDel(food)">Un-Delete</button>
      </td>
    </tr>
  </table>
  <!--TODO: This does not show up on load when a deletion is found. Async issue?!?!-->
  <div *ngIf="deleteActive" class="pull-right container">
    <div class="row"><button class="btn btn-danger pull-right" (click)="deleteFood(storedFood)">Confirm Delete</button></div>
    <div class="row alert-warning pull-right">This cannot be Undone!</div>
  </div>

</div>

<!--TODO: move this to its own component?-->
<h3>Add a food storage item!</h3>
<div class="form-inline">
  <div class="form-group">
    <label for="newFoodName">Name</label>
    <input id="newFoodName" class="form-control" type="text" name="newFoodName" [(ngModel)]="newFood.name" #name="ngModel" required>
    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger warning-toast">
      <div [hidden]="!name.errors.required">
        Name is required!
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="newFoodQty">Quantity</label>
    <input id="newFoodQty" class="form-control" type="number" [(ngModel)]="newFood.quantity" required ng-min="1">
  </div>
  <div class="form-group">
    <label for="newFoodExp">Expiration</label>
    <input id="newFoodExp" class="form-control" type="date" [(ngModel)]="newFood.exp">
  </div>
  <div class="form-group">
    <label for="newFoodCat">Category</label>
    <select id="newFoodCat" class="form-control" [(ngModel)]="newFood.category">
      <option>None</option>
      <option>Fruit</option>
      <option>Soup</option>
      <option>Baking</option>
      <option>Other</option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="addFood()">Submit</button>
</div>
