.authBtns {
  margin-top: 2rem;
}

.warning-toast {
  position: absolute;
  margin: .5rem 0 0 4rem;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.deleteFood {
  border: 3px solid #a94442;

}

.recTitle {
  font-size: 3rem;
  text-align: center;
}

.recDesc {
  font-size: 1.5rem;
}

.recIng {
  margin-top: 3rem;
  font-size: 2rem;
}

.recDirec {
  font-size: 2rem;
}
